* {
  margin: 0;
  padding: 0;
}

body {
  font: 16px Arial, Helvetica, sans-serif;
  padding: 0;
  margin-left: 5px;
  background-color: #f4f4f4;
  line-height: 1.2em;
}


/* Global */

.clr {
  clear: both
}

.uppercase {
  text-transform: uppercase;
}

a:hover {
  font-weight: bold;
}

.dark {
  padding: 15px;
  background: #35424a;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

ul {
  list-style-type: circle;
  margin: 0px 0px 0px 20px;
  padding: 0px 0px 0px 20px;
}

#credentials li {
  width: 70%;
  float: left;
  margin: 2px;
}

h1,
h3 {
  padding: 1px;
  margin: 5px;
}

.p-reasons {
  width: 70%;
  float: left;
  margin: 2px 2px 20px 0;
}

blockquote {
  width: 70%;
  float: left;
  margin-bottom: 20px;
  padding-left: 5px;
}


/* Header **/

header {
  position: fixed;
  background: #35424a;
  color: #ffffff;
  min-height: 100px;
  text-align: center;
  width: 100%;
  border-bottom: #e8491d 3px solid;
}

.container-header {
  width: 90%;
  float: left;
  min-width: 600;
}

.personal-info {
  text-align: center;
  margin: 5px;
  padding-right: 0px;
  width: 100%;
  box-sizing: border-box;
}

.personal-info h1,
h4 {
  text-align: center;
  margin: 10px 0 0 0;
}

#mugshot {
  float: right;
  margin: 5px 5px 0 0;
  box-sizing: border-box;
}


/* Main content */

#page {
  /* overflow: hidden; */
  background-color: darkgray;
}

#main-title {
  margin: 20px 5px;
}


/* fixed top scrolling issue */

#top-reasons {
  padding-top: 100px;
}

#top-reasons p {
  margin: 10px;
}

#top-reasons img {
  border-radius: 3px;
  float: right;
}

#projects {
  margin-left: 50px;
  margin-bottom: 50px;
  text-align: left;
  background-color: aquamarine;
}

#projects li:first-child {
  color: green;
}

#projects li:nth-child(5) {
  color: red;
}


/* Sidebar */

aside#sidebar {
  /* position: fixed;
  top: 300px;
  left: 750px; */
  float: right;
  width: 20%;
  padding: 10px;
  margin: 300px 50px 5px 5px;
  border: red 5px solid;
  background-color: blueviolet;
  text-align: center;
}

#sidebar p {
  margin-top: 20px;
}


/* Footer */

footer {
  padding: 2px;
  margin-top: 10px;
  color: #ffffff;
  background-color: #e8491d;
}

footer #footer-left-section {
  float: left;
  width: 20%;
  text-align: left;
  text-transform: uppercase;
}

footer #footer-middle-section {
  float: left;
  width: 40%;
  text-align: center;
}


/* footer #footer-right-section {
  float: right;
  width: 20%;
} */