* {
  margin: 0;
  padding: 0;
}

body {
  font: 16px Arial, Helvetica, sans-serif;
  padding: 0;
  margin-left: 5px;
  background-color: #f4f4f4;
  line-height: 1.2em;
}


/* Global */

.clr {
  clear: both
}

.container-header {
  width: 90%;
  float: left;
  min-width: 600;
  position: fixed;
  background-color: darksalmon;
  color: darkblue;
  min-height: 100px;
  text-align: center;
  width: 100%;
  border-bottom: #e8491d 3px solid;
}

.personal-info {
  text-align: center;
  margin: 5px;
  padding-right: 0px;
  width: 100%;
  box-sizing: border-box;
}

.personal-info h1,
h4 {
  text-align: center;
  margin: 10px 0 0 0;
}

#mugshot {
  float: right;
  margin: 5px 5px 0 0;
  box-sizing: border-box;
}


/* Main content */

#page {
  /* overflow: hidden; */
  background-color: darkgray;
}

#main-title {
  margin: 20px 5px;
}


/* Footer */

footer {
  padding: 2px;
  margin-top: 10px;
  color: #ffffff;
  background-color: #e8491d;
}

footer #footer-left-section {
  float: left;
  width: 20%;
  text-align: left;
  text-transform: uppercase;
}

footer #footer-middle-section {
  float: left;
  width: 40%;
  text-align: center;
}


/* footer #footer-right-section {
  float: right;
  width: 20%;
} */